* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   list-style: none;
   text-decoration: none;

}


.container {
   position: relative;
   background-color: black;
   min-height: 100vh;
   width: 100%;
   padding: 5px 20px 20px;
   color: white;
   overflow: hidden;
}

header {
   margin: 10px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   justify-content: center;
   gap: 7%;
   padding: 0 10px;

}

header ul {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 30px;
   list-style: none;
   flex-basis: 60%;
}

header ul li{
   display: inline-block;
}
header ul li a {
   color: white;
   text-decoration: none;
   display: block;
   padding: 5px 10px;
   transition: .3s;
}

header ul li a:hover {
   color: #ddd
}

header>a {
   display: block;
   flex-basis: 30%;
}

header>a img {
   width: 2.5rem;
}

.content {
   margin: 20px auto;
   padding: 20px;
   display: flex;
   justify-content: center;
   justify-content: space-between;
   align-items: center;




}

.content .text {
   flex-basis: 50%;
   padding: 10px;

}

.content .text h2 {
   margin: 10px auto;

}

.content .text p {
   max-width: 400px;
   margin: 10px 0;
}

.content .text a {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   border-radius: 9999px;
   padding: 10px;
   width: 150px;




}


.content .image {
   flex-basis: 45%;
   max-width: 40%;
   text-align: center;
   position: relative;

}

.content .image img {
   height: 350px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -40%);
   max-width: 100%;
   animation: MoveUpDown 2s alternate infinite;

}

@keyframes MoveUpDown {
   0% {
      top: 0;
   }

   100% {
      top: 20px
   }
}




.icons {
position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons img {
   width: 3rem;
   transition: .3s;
   cursor: pointer;
   padding: 0 10px;
}

.icons img:hover {
   transform: scale(1.2) rotate(5deg);

}

#collspan {
   font-size: 30px;
   display: none;
}

@media(max-width:767px) {

   .icon {
      flex-basis: 30%;
      display: flex;
      justify-content: flex-end;
   }

   #collspan {
      display: block;
      cursor: pointer;
      transition: .3s;

   }


   header {
      align-items: flex-start;
      justify-content: space-between;
   }

   header ul {
      flex-direction: column;
      margin: 50px auto;
      gap: 0px;
      display: none;
   }

   header ul li {
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      padding: 10px;
      transition: .3s;
      border-bottom: 1px solid white;

   }

   header ul li:hover {
      background-color: #0b0a0a;
   }
   .content .image img{
      height: 120px;
      width: 70px;
   }
   .content .text p{
      font-size: 13px;
   }
   .content .text h2{
      font-size: 12px;
   }
   .content .text a{
      font-size: 10px;
      padding: 5px 6px;
      width: 100px;
      color: black;
   }


   .icons img {
    width: 3rem;

    padding: 0;
  }
}



